body {
  font-family: 'system-ui', sans-serif;
}

.app {
  margin: 20px 30px;
}

.new-workorder-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-label {
  display: inline-block;
  min-width: 80px;
}

.new-workorder-btn {
  width: 120px;
}

/* common  */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  margin: -1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

table {
  width: 100%;
}

/* workorder item */

table {
  width: 100%;
}

.table-cell,
.table-head {
  padding: 0.25rem 0.75rem;
}

.table-head {
  font-weight: bold;
  text-align: left;
}

.table-row:nth-child(even) {
  background-color: #f2f2f2;
}

/* a11y dialog styles */
/**
 * 1. Make the dialog container, and its child overlay spread across
 *    the entire window.
 */
.dialog-container,
.dialog-overlay {
  position: fixed; /* 1 */
  top: 0; /* 1 */
  right: 0; /* 1 */
  bottom: 0; /* 1 */
  left: 0; /* 1 */
}

/**
   * 1. Make sure the dialog container and all its descendants sits on
   *    top of the rest of the page.
   * 2. Make the dialog container a flex container to easily center the
   *    dialog.
   */
.dialog-container {
  z-index: 2; /* 1 */
  display: flex; /* 2 */
  align-items: center; /* 2 */
  justify-content: center; /* 2 */
}

/**
   * 1. Make sure the dialog container and all its descendants are not
   *    visible and not focusable when it is hidden.
   */
.dialog-container[aria-hidden='true'] {
  display: none; /* 1 */
}

/**
   * 1. Make the overlay look like an overlay.
   */
.dialog-overlay {
  background-color: rgb(43 46 56 / 0.9); /* 1 */
  animation: fade-in 200ms both;
}

/**
   * 1. Vertically and horizontally center the dialog in the page.
   * 2. Make sure the dialog sits on top of the overlay.
   * 3. Make sure the dialog has an opaque background.
   */
.dialog-content {
  margin: auto; /* 1 */
  z-index: 2; /* 2 */
  position: relative; /* 2 */
  background-color: white; /* 3 */

  animation: fade-in 400ms 200ms both, slide-up 400ms 200ms both;
  padding: 1em;
  max-width: 90%;
  width: 600px;
  border-radius: 5px;
}
